!!! 5
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %title 92thunder.github.io

    %link(href="css/bootstrap.min.css" rel="stylesheet")
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      %div.container
        %div.navbar-header
          %a.navbar-brand(href="./index.html")
            92thunder.github.io

    %div.container

      %p このページではさんだーが作ったものを紹介したりします。
      %h3 Welcome to 92thunder.github.io
      %a(href="./TSUYAMA/game.html") コンバット津山がごんご丸から津山を守るゲーム
      %br
      %a(href="./SENJO/SENJO.html") SENJO
      %br

      %br
      <a class="twitter-timeline" href="https://twitter.com/92thunder" data-widget-id="562287417026027520">@92thunderさんのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="js/bootstrap.min.js")
