!!! 5
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %title 数当てゲーム

    %link(href="css/bootstrap.min.css" rel="stylesheet")
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      %div.container
        %div.navbar-header
          %a.navbar-brand(href="./index.html")
            92thunder.github.io

    %div.container
      %input#num
      %button#send SEND
      %div.answer



    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="js/bootstrap.min.js")

    :javascript
      $('#send').on('click', function() {
        $('#num').val('');
      });
